html{
    font-family: 'Noto Sans JP', sans-serif;

}

body{
    background-color: bisque;  
}

p{
    background-color: rgb(171, 231, 233);
    text-align: center;
    font-size: 25px;
    color: #1a1a1a;
    display: block;
    position: absolute;
    padding: 10px 50px 20px;
    text-align: center;
    border-radius: 10px;
}

.app{
    border-radius: 10px;
    margin-top: 150px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.buttonGroup{
    margin-top: 150px;
}

button{
    position: absolute;
    display: flex;
    cursor: pointer;
    margin: 50px 15px;
    padding: 10px 30px;
    background-color: rgb(171, 231, 233);
    border: none;
    border-radius: 10px;
}

.button--no{
    right: 50%;
}
