html{
    font-family: 'Noto Sans JP', sans-serif;

}

body{
    background-color: bisque;  
}

p{
    height: 100vh;
        width: 100%;
        background-image: url(https://64.media.tumblr.com/6ff6d22beb7d0dc85b41b5b00a641b98/508946f358df96fa-c4/s540x810/c2a20081bdf53b7b4de607196679031c16c4af06.gif);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
}

.app{
    border-radius: 10px;
    margin-top: 150px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.buttonGroup{
    margin-top: 150px;
}

button{
    position: absolute;
    display: flex;
    cursor: pointer;
    margin: 50px 15px;
    padding: 10px 30px;
    background-color: rgb(171, 231, 233);
    border: none;
    border-radius: 10px;
}

.button--no{
    right: 50%;
}
